.body_page {
	text-align: center !important;
	font-family: 'Lato', 'sans-serif';
	font-weight: 400;
}

#question-form {
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
	text-align: center;
}

h2 {
	text-align: center;
}

.p {
	padding-bottom: 10px;
	text-align: center;
	color: #cac5c5;
}

.panelGridCenter {
	padding-right: 30px !important;
	margin-right: 50px !important;
}

.ui-widget-content {
	border: none !important;
}

.ui-panel{
		border-top-color: white !important;
	border-top-style: none !important;
	border-top-width: 0px;
	border-right-color: white !important;
	border-right-style: none !important;
	border-right-width: 0px;
	border-bottom-color: white !important;
	border-bottom-style: none !important;
	border-bottom-width: 0px;
	border-left-color: white !important;
	border-left-style: none !important;
	border-left-width: 0px;
	border-image-source: none !important;
	border-image-slice: none !important;
	border-image-width: none !important;
	border-image-outset: none !important;
	border-image-repeat: none !important;
}